* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.slider {
  padding: 20px 0;
  /* direction: rtl; */
}

.container-fluid {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.slider-wrap {
  position: relative;
  overflow: hidden;
  height: 150px;
}

.slider-main {                                                                       
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  /* overflow: hidden; */
  /* transition: transform 0.5s linear; */
  /* flex-direction: row-reverse; */

  /* will-change: transform; */

}

.slider-item {
  height: 150px;
  background: pink;
  font-size: 26px;
  font-weight: 600;
  position: relative;
  flex: 0 0 auto;
  box-sizing: border-box;
  margin: 0;

}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.prev {
  left: 20px;
  font-size: 30px;
  cursor: pointer;
}

.next {
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}
.slider-indicators {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.indicator.active {
  background-color: #333;
}
