/* .slider-item {
  display: inline-block;
  width: 394px;
  height: 150px;
  background: pink;
  font-size: 26px;
  font-weight: 600;
  position: relative;
  margin: 0 12px;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
